= render 'shared/top-header'
.mypage
  %main.mypage__body.clearfix
    .mypage__body__main
      .registration-container
        %h2.card-head
          クレジットカード情報入力
          
  -# = form_for(@creditcard, url: {controller: creditcards, action: :create }) do |f|
    .registration__payment
      .field
        = f.label :有効期限
        %span.require 必須
        %br/
        .birthday-wrap
          .select
            = f.select :valid_month, [], {prompt: "--"}, {class: "select-default"}
          %span 月
          .select
            = f.select :valid_year, [], {prompt: "--"}, {class: "select-default"}
          %span 年

      .field
        = f.label :security_code, "セキュリティコード"
        %span.require 必須
        = f.text_field :security_code, class: "input-default", placeholder: 'カード背面4桁もしくは3桁の番号'
        .text-right__card
          %span.card-question ?
          カード裏の番号とは？


    = render 'shared/mypage-sidemenu'
= render 'shared/banner'
= render 'shared/top-footer'