- breadcrumb :mypage
= render "shared/top-header"
= render 'shared/breadcrumbs'

.mypage
  %main.mypage__body.clearfix
    .mypage__body__main
      %section.mypage-tab-saling
        %h2.mypage-tab-head 出品した商品
      %section.mypage-todo
        %ul.mypage-tabs.up
          %li.notification.is-active
            %h3 出品中
          %li.todo
            %h3 取引中
        %ul.tab-content
          %ul.notification-list.tab
            - @product.each do |product|
              %li
                = link_to my_show_product_path(product), class: "notification-list__link" do
                  %figure
                    = image_tag(product.images.first.name)
                  .notification-list__body
                    .notification-list__body__text
                      = product.name
                    .listing-item-count
                      %i.far.fa-heart
                      %span 0
                    .listing-item-count
                      %i.far.fa-comment-alt
                      %span 0
                    .mypage-item-status
                      出品中
                    = fa_icon "angle-right"
    = render 'shared/mypage-sidemenu'

= render "shared/banner"
= render "shared/top-footer"