.sign-in-container
  .single-container
    = render "devise/sessions/header"
    .single-main
      .registration-container
        %h2.registration-head
          パスワードをお忘れの方
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .registration-container__form__forget
            .field-forget
              = f.label :メールアドレス
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "ご登録されたメールアドレス", class: "input-default"
              %p
                ご登録されたメールアドレスにパスワード再設定のご案内が送信されます。
            .actions
            = f.submit "送信する", class: "btn-red-signin btn-signin"
    = render "devise/registrations/footer"