%section.slide-banner.owl-carousel
  = link_to root_path, class: "slide-banner__link slide-banner__link--camp" do
    = image_tag("camp-banner.png")
  = link_to root_path, class: "slide-banner__link slide-banner__link--register" do
    = image_tag("register_banner.png")
  = link_to root_path, class: "slide-banner__link slide-banner__link--anniversary" do
    = image_tag("banner-thanks.png")