- if comment.user.id == current_user.id
  %li.messeage-coments2
    .message-user2
      = link_to "#", class: "product-detail__middle__comments-box__avatar2" do
        %figure
          .unknown
            = image_tag("user-icon.svg", size: "32x32")
          %figcaption.bold #{comment.user.nickname}
    .message-body2
      .message-body__text
        = simple_format(comment.comment)
      .message-body__icon__left
        %time
          %i.far.fa-clock
          %span(datetime="#{comment.created_at}")= time_ago_in_words(comment.created_at)
          前
      .message-body__icon__right
        = link_to "" do
          %i.far.fa-flag
- else
  %li.messeage-coments
    .message-user
      = link_to "#", class: "product-detail__middle__comments-box__avatar" do
        %figure
          .message-user__unknown
            = image_tag("user-icon.svg", size: "32x32")
          %figcaption.bold #{comment.user.nickname}
        - if comment.user.id == @product.user_id
          .message-seller
            出品者
    .message-body
      .message-body__text
        = simple_format(comment.comment)
      .message-body__icon__left
        %time
          %i.far.fa-clock
          %span(datetime="#{comment.created_at}")= time_ago_in_words(comment.created_at)
          前
      .message-body__icon__right
        = link_to "" do
          %i.far.fa-flag