= render 'shared/top-header'
.mypage
  %main.mypage__body.clearfix
    .mypage__body__main
      %h2.card-head
        支払い方法
      .registration-container
        .registration-container__card
          %section
            .card-content
              %h3
                クレジットカード一覧
          %section.add-card
            .add-card__content
              = link_to "/creditcards/new" ,class: "btn-card btn-signin" do
                %i.fas.fa-credit-card
                クレジットカードを追加する
          .about-payment
            = link_to "#" ,class: "about-payment-link" do
              支払い方法について
              %i.fas.fa-angle-right

    = render 'shared/mypage-sidemenu'
= render 'shared/banner'
= render 'shared/top-footer'
=render 'shared/sell-btn'