- breadcrumb :category
=render 'shared/top-header'
=render 'shared/breadcrumbs'
.category-main
  .category-container
    .category-children
      %h2.category-children__title カテゴリー一覧

      .category-children__box
        - @parents.each do |parent|
          = link_to("#",class: "category-children__box-list") do
            =parent.name

    .category-list-box
      - @parents.each do |parent|
        .category-parent
          %h2.category-parent__title 
            =parent.name

          .category-child
            .category-child__all
              = link_to("すべて","#", class: "category-child__all-text")
            - parent.children.each do |child|
              .category-child__title
                = child.name

              .category-grandchild
                .category-grandchild__title
                  = link_to("すべて","#", class: "category-grandchild__title-text")
                - child.children.each do |grandchild|
                  .category-grandchild__title
                    =link_to("#",class: "category-grandchild__title-text") do
                      = grandchild.name

=render 'shared/banner'
=render 'shared/top-footer'
=render 'shared/sell-btn'