.detail-box
  %h1.item-name
    = @product.name
  .detail-box__main
    .detail-box__main__image
      .top-image
        .is-slider
          - @product.images.each do |img|
            .is-slider__item
              = image_tag(img.name.url, height: '300px', width: '300px', class: 'item-image-active')
              - if @product.status_sold?
                .category-box__sold
                  .category-box__sold--text SOLD
              - elsif @product.status_unpublished?
                .category-box__unpublished
                  .category-box__unpublished--text 公開停止中

        .is-thumbnails
          - @product.images.each do |img|
            .is-thumbnails__item
              = image_tag(img.name.url, height: '60px', width: '60px', class: 'item-image')
    %table.detail-box__main__table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to "/" do
              = @product.user.nickname
            .user-ratings
              .user-ratings__list
                %i.fas.fa-laugh
                %span 0
              .user-ratings__list
                %i.fas.fa-meh
                %span 0
              .user-ratings__list
                %i.fas.fa-frown
                %span 999
        %tr
          %th カテゴリー
          %td
            = link_to "/" do
              - if @product.category.present?
                = @product.category.root.name
                %br > #{@product.category.parent.name}
                > #{@product.category.name}
            
        %tr
          %th ブランド
          %td
            = link_to "/" do
              - if @product.brand.present?
                = @product.brand.name
        %tr
          %th 商品のサイズ
          %td
            - if @product.products_size.present?
              = @product.products_size.size
        %tr
          %th 商品の状態
          %td
            = @product.condition
        %tr
          %th 配送料の負担
          %td 
            = @product.shipping_burden
        %tr
          %th 配送の方法
          %td 
            = @product.shipping_method
        %tr
          %th 配送元地域
          %td 
            = link_to "/" do
              = @product.shipping_region
          
        %tr
          %th 発送日の目安
          %td 
            = @product.shipping_date



  .detail-box__price
    %span.item-price
      = converting_to_jpy(@product.price)
    %span.item-tax (税込)
    %span.shipping-fee 送料込み
  - if @product.status == "sold"
    .item-sold-button 売り切れました
  - else
    = link_to "購入画面へ進む", purchase_product_path, type: "button", class: "item-buy-button"


  .detail-box__item-description
    %p.item-description
      = @product.description
  .detail-box__item-button
    .detail-box__item-button__left
      %button{type:'button', class: 'button-like'}
        %i.far.fa-heart
        %span いいね!
        %span 132
      = link_to "", class: "button-report" do
        %i.far.fa-flag
        不適切な商品の報告 
    .detail-box__item-button__right
      =link_to '#' do
        %i.fas.fa-lock.clock-font
        %span あんしん・あんぜんへの取り組み

- if user_signed_in?
  .item-comments
    .item-comments__container
      .item-comments__container__message
        %ul.messeage-items
          = render partial: "shared/comment", collection: @comments
      .item-comments__container__message
        .form-test
          %p
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = form_for([@product, @product_comments], url: product_product_comments_path(@product.id)) do |f|
            = f.text_area :comment, class:'textarea-test'
            = f.submit "コメントする", class:'btn-comment'

%ul.item-link-prev-next
  - if @product.previous
    %li.item-link-prev
      = link_to "#{@previous_product.id}" do
        = fa_icon "chevron-left"
        #{@previous_product.name}
  - if @product.next
    %li.item-link-next
      = link_to "#{@next_product.id}" do
        #{@next_product.name}
        = fa_icon "chevron-right"
.detail-box__social-link
  .text-center
  %ul.social-box
    %li
      = link_to "#", target: "_blank", class: "share-btn" do
        %i.fab.fa-facebook-square
    %li
      = link_to "#", target: "_blank", class: "share-btn" do
        %i.fab.fa-twitter
    %li
      = link_to "#", target: "_blank", class: "share-btn" do
        %i.fab.fa-line
    %li
      = link_to "#", target: "_blank", class: "share-btn" do
        %i.fab.fa-pinterest
.related-products
  %section
    %h2.related-products__items-head
      = link_to "#" do
        #{@product.user.nickname}さんのその他の出品
    .related-products__items-box
      - @user_products.each do |product|
        = link_to product_path(product) ,class: "item-boxes" do
          .item-box
            .item-box__photo
              = image_tag(product.images.first.name)
            .item-box__body
              .item-box__body--text
                %p
                  = product.name
              .item-box__body--block
                .product-price
                  %p
                    = converting_to_jpy(product.price)
                .product-evaluation
                  %i.far.fa-heart.product-evaluation__heart-icon
                  .product-evaluation__count
                    %p 5
.related-products
  %section
  - if @product.brand.present?
    %h2.related-products__items-head
      = link_to "#" do
        #{@product.brand.name}その他の出品
    .related-products__items-box
      - @brand_products.each do |product|
        = link_to product_path(product) ,class: "item-boxes" do
          .item-box
            .item-box__photo
              = image_tag(product.images.first.name)
            .item-box__body
              .item-box__body--text
                %p
                  = product.name
              .item-box__body--block
                .product-price
                  %p
                    = converting_to_jpy(product.price)
                .product-evaluation
                  %i.far.fa-heart.product-evaluation__heart-icon
                  .product-evaluation__count
                    %p 5
  - else
    %h2.related-products__items-head
      = link_to "#" do
        #{@product.category.name}その他の出品
    .related-products__items-box
      - @category_products.each do |product|
        = link_to product_path(product) ,class: "item-boxes" do
          .item-box
            .item-box__photo
              = image_tag(product.images.first.name)
            .item-box__body
              .item-box__body--text
                %p
                  = product.name
              .item-box__body--block
                .product-price
                  %p
                    = converting_to_jpy(product.price)
                .product-evaluation
                  %i.far.fa-heart.product-evaluation__heart-icon
                  .product-evaluation__count
                    %p 5