.top-main
  = render "shared/campaign_banner"
  .pickup-category
    %h2.pickup-category__title ピックアップカテゴリー
    .items-container
      .items-container__title
        %h3
          =link_to "レディース 新着アイテム", "/categories/1"
        = render partial: "item", collection:  @lady_items
    .view-all
      =link_to "全ての商品を見る", "/categories/1"

    .items-container
      .items-container__title
        %h3
          =link_to "メンズ 新着アイテム", "/categories/2"
        = render partial: "item", collection:  @man_items
    .view-all
      =link_to "全ての商品を見る", "/categories/2"

    .items-container
      .items-container__title
        %h3
          =link_to "ベビーキッズ 新着アイテム", "/categories/3"
        = render partial: "item", collection:  @kids_items
    .view-all
      =link_to "全ての商品を見る", "#"

    .items-container
      .items-container__title
        %h3
          =link_to "コスメ・香水・美容 新着アイテム", "/categories/7"
        = render partial: "item", collection:  @beauty_items
    .view-all
      =link_to "全ての商品を見る", "/categories/7"

  .pickup-brand
    %h2.pickup-brand__title ピックアップブランド
    .items-container
      .items-container__title
        %h3
          =link_to "シャネル 新着アイテム", "#"
        = render partial: "item", collection:  @chanel
    .view-all
      =link_to "全ての商品を見る", "#"

    .items-container
      .items-container__title
        %h3
          =link_to "ルイヴィトン 新着アイテム", "#"
        = render partial: "item", collection:  @vuitton
    .view-all
      =link_to "全ての商品を見る", "#"

    .items-container
      .items-container__title
        %h3
          =link_to "シュプリーム 新着アイテム", "#"
        = render partial: "item", collection:  @supreme
    .view-all
      =link_to "全ての商品を見る", "#"

    .items-container
      .items-container__title
        %h3
          =link_to "ナイキ 新着アイテム", "#"
        = render partial: "item", collection:  @nike
    .view-all
      =link_to "全ての商品を見る", "#"