.detail-container
  =render 'shared/top-header'
  %main.mypage__body.clearfix
    .delete-detail-box
      .detail-box
        %h1.item-name
          = @product.name
        .detail-box__main
          .detail-box__main__image
            .top-image
              .is-slider
                - @product.images.each do |img|
                  .is-slider__item
                    = image_tag(img.name.url, height: '300px', width: '300px', class: 'item-image-active')
              .is-thumbnails
                - @product.images.each do |img|
                  .is-thumbnails__item
                    = image_tag(img.name.url, height: '60px', width: '60px', class: 'item-image')
          %table.detail-box__main__table
            %tbody
              %tr
                %th 出品者
                %td
                  = link_to root_path do
                    = @product.user.nickname
                  .user-ratings
                    .user-ratings__list
                      %i.fas.fa-laugh
                      %span 0
                    .user-ratings__list
                      %i.fas.fa-meh
                      %span 0
                    .user-ratings__list
                      %i.fas.fa-frown
                      %span 999
              %tr
                %th カテゴリー
                %td
                  = link_to root_path do
                    - if @product.category.present?
                      = @product.category.root.name
                      %br > #{@product.category.parent.name}
                      > #{@product.category.name}
                  
              %tr
                %th ブランド
                %td
                  = link_to root_path do
                    - if @product.brand.present?
                      = @product.brand.name
              %tr
                %th 商品のサイズ
                %td
                  - if @product.products_size.present?
                    = @product.products_size.size
              %tr
                %th 商品の状態
                %td
                  = @product.condition
              %tr
                %th 配送料の負担
                %td 
                  = @product.shipping_burden
              %tr
                %th 配送の方法
                %td 
                  = @product.shipping_method
              %tr
                %th 配送元地域
                %td 
                  = link_to root_path do
                    = @product.shipping_region
                
              %tr
                %th 発送日の目安
                %td 
                  = @product.shipping_date

        .detail-box__price
          %span.item-price
            = converting_to_jpy(@product.price)
          %span.item-tax (税込)
          %span.shipping-fee 送料込み
      
      .item-change-box
        = button_tag '商品の編集', class: 'btn-edit'
        %p.text-center or
        = button_tag '商品を一旦停止する', class: 'btn-stop'
        = link_to 'この商品を削除する', product_path, method: :delete, class: 'btn-delete'

      .item-comments
        .item-comments__container
          .item-comments__container__message
            %ul.messeage-items
              %li.messeage-coments
                .message-user
                  %figure
                    .message-user__unknown
                      = image_tag("user-icon.svg", size: "32x32")
                    %figcaption.bold
                      テスト
                  .message-seller
                    出品者
                .message-body
                  .message-body__text
                    テストコメント
                  .message-body__icon__left
                    %time
                      %i.far.fa-clock
                      %span XX日前
                  .message-body__icon__right
                    = link_to root_path do
                      %i.far.fa-flag
              %li.messeage-coments
                .message-user
                  %figure
                    .message-user__unknown
                      = image_tag("user-icon.svg", size: "32x32")
                    %figcaption.bold
                      テスト
                  .message-seller
                    出品者
                .message-body
                  .message-body__text
                    テストコメント
                  .message-body__icon__left
                    %time
                      %i.far.fa-clock
                      %span XX日前
                  .message-body__icon__right
                    = link_to root_path do
                      %i.far.fa-flag
          .item-comments__container__message
            .form-test
              %p
                相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %textarea{type: "text", class: "textarea-test"}
              %button{type: "submit", class: "btn-test"}
                %span
                  コメントする

      %ul.item-link-prev-next
        - if @product.previous
          %li.item-link-prev
            = link_to "#{@previous_product.id}" do
              = fa_icon "chevron-left"
              #{@previous_product.name}
        - if @product.next
          %li.item-link-next
            = link_to "#{@next_product.id}" do
              #{@next_product.name}
              = fa_icon "chevron-right"

              %i.fab.fa-pinterest
  =render 'shared/banner'
  =render 'shared/top-footer'